* {
    box-sizing: border-box;
    font-family: Cairo, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    padding: 20px;
}

.login-card {
    background: #fff;
    max-width: 380px;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

h2 {
    margin: 10px 0 5px;
}

.subtitle {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #667eea;
}

.btn {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.primary {
    background: #667eea;
    color: #fff;
}

.success {
    background: #2ecc71;
    color: #fff;
}

.btn:active {
    transform: scale(0.98);
}

/* موبايل */
@media (max-width: 480px) {
    .login-card {
        border-radius: 20px;
        padding: 20px;
    }

    .logo {
        width: 100px;
    }
}
select {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    font-size: 15px;
}
.google {
    background: #fff;
    color: #444;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google img {
    width: 20px;
}
.password-field {
  position: relative;
}

.password-field input {
  padding-right: 45px;
}

.eye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
